
<div>
    <%= Phoenix.HTML.raw(Jason.encode!(@circle_pos)) %>
</div>
<canvas id="circleCanvas" phx-hook="Game3" width="800" height="800" data-pos={"#{Jason.encode!(@circle_pos)}"}} data-board={"#{Jason.encode!(@game_board)}"}></canvas>
